<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471840296435-e0iqeovra7kkmid1nqlivbpl0v41p263.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471840296435-e0iqeovra7kkmid1nqlivbpl0v41p263</string>
	<key>API_KEY</key>
	<string>AIzaSyATo3S8BhzhmPNx14Jr-246OMQaDsQ5D6A</string>
	<key>GCM_SENDER_ID</key>
	<string>471840296435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-e5a68</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-e5a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471840296435:ios:afda79d814175291a4d686</string>
</dict>
</plist>